[is='flynt-block-wysiwyg'] {
  .content {
    @include reset-content-margins;
    text-align: inherit;

    &--textLeft {
      text-align: left;
    }

    &--textCenter {
      text-align: center;
    }

    .pillCircle {
      border: 1px solid #000;
      border-radius: 1rem;
      display: inline-block;
      padding-bottom: 0;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
    }
  }
}
