[is='flynt-block-soundcloud-oembed'] {  
  .container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .visualAudible__body {
    display: none !important;
  }
}
