.list {
  @include reset-list;
  @include grid(2);
  justify-content: space-between;

  @media (min-width: $breakpoint-tablet) {
    padding-right: 0;
  }

  @media (max-width: $breakpoint-mobile-horizontal) {
    flex-direction: column;
  }

  &-item {
    @include reset-content-margins;
    width: 100%;

    @media (min-width: $breakpoint-tablet-horizontal) {
      width: 50%;
    }

    &:last-child {
      margin-left: 50%;

      @media (max-width: $breakpoint-mobile-horizontal) {
        margin-left: 0;
      }
    }
  }

  &-link {
    color: $color-text;
  }

  &-titleLink,
  &-link {
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-text;
      text-decoration: underline;
    }
  }

  .childList {
    @include reset-list;

    &-item {
      line-height: 1.625;
      margin: 0;
      padding: 0;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
