<div class="flyntComponent" is="flynt-block-image">
  <div class="container">
    <figure class="figure">
      <img class="figure-image lazyload"
        src="{{ image.src|resize(1920) }}"
        alt="{{ image.alt|e }}">
      {% if image.caption %}
        <figcaption class="figure-caption">{{ image.caption|e }}</figcaption>
      {% endif %}
    </figure>
  </div>
</div>
