[is='flynt-block-video-oembed'] {
  height: 100%;
  
  .video {
    margin: 0 auto;
    position: relative;

    .figure {
      display: block;
      margin-bottom: 0;
    
      &-image {
        &--isHidden {
          visibility: hidden;
        }
      }
    
    }
  
    &-player {
      height: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
      // padding-bottom: 42.25%; // 2:1
      // padding-bottom: 56.25%; // 16:9
      // padding-bottom: 62.5%; // 8:5
      // padding-bottom: 66.66%; // 3:2
      // padding-bottom: 75%; // 4:3
      

      &--isLoading {
        background: rgba(0, 0, 0, 0.5);
        transition: all 1s linear;
      
        .figure {
          opacity: 1;
        }
      }

      &--isLoaded {
        background: rgba(0, 0, 0, 1);
        transition: all 1s linear;
    
        .figure {
          opacity: 0;
          transition: all 1s linear;
        }
      
        iframe {
          opacity: 1;
          transition: all 1s linear;
        }
      }
  
      iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        .vp-center {
          align-items: flex-start;
        }
      }
    }

    &-overlay {
      color: inherit;
      display: flex;
      flex-flow: column;
      height: 100%;
      left: 0;
      padding: var(--padding_large);
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      &--alignTop {
        justify-content: flex-start;
      }

      &--alignCenter {
        justify-content: center;
      }
  
      &--alignBottom {
        justify-content: flex-end;
      }
    }
  }
}
