/* Custom styling for exhibition posts */

.single-article {
  .post {
    &-header {
      text-transform: uppercase;

      .title {
        border-bottom: 1px solid $black;
        padding-bottom: $spacing-small;
      }

      .credits {
        column-gap: $spacing-small;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-main {
      display: flex;
      flex-flow: column wrap;

      .flyntComponent {
        border-top: 1px solid $black;
        padding: $spacing-small 0;

        &:first-child {
          border-top: 0;
        }

        &:last-child {
          .container {
            padding: 0;
          }
        }

        &--wysiwyg {
          border-top: 0;
          margin-left: calc(50% + 7.5px);
          width: calc(50% - 7.5px);

          @media (max-width: $breakpoint-tablet-horizontal) {
            margin-left: 0;
            width: 100%;
          }
        }

        &--videoOembed {
          padding: 0;
        }
      }
    }
  }
}
