[is='flynt-block-wysiwyg-two-col'] {
  .container {
    column-gap: $spacing-small;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    justify-content: space-between;
    padding-bottom: $spacing-small;

    @media (max-width: $breakpoint-mobile-horizontal) {
      display: block;
    }
  }
  
  .content {
    @include reset-content-margins;
    align-content: space-between;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;

    p:last-child {
      margin: 0;
    }
  }
}
