<div class="flyntComponent" is="flynt-list-social">
  <div class="container">
    <div class="socials">
      <ul class="list">
        {% for panel in repeaterLinks %}
          <li class="panel">
            <a class="" href="{{ panel.panelLink|e }}" type="button">
              {{ panel.panelTitle|e }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
