[is='flynt-block-image-text'] {
  .container {
    @include center(500px + 2 * $spacing-small);
  }

  .box-inner {
    @include reset-content-margins('top');
  }

  @media (max-width: $breakpoint-tablet-horizontal - 1) {
    margin: $component-spacing-tablet 0;
  }

  @media (min-width: $breakpoint-tablet-horizontal) {
    .container {
      @include center(1080px + 2 * $spacing-large, $spacing-large);
    }

    .box {
      align-items: center;
      display: flex;
      margin: 0 $spacing-large * -1;

      &-inner {
        @include reset-content-margins('both');
        padding: 0 $spacing-large;
        width: 50%;
      }

      &--imageRight {
        flex-direction: row;
      }

      &--imageLeft {
        flex-direction: row-reverse;
      }
    }

    .figure-caption {
      position: absolute;
    }
  }
}
