[is='flynt-block-image-text'] {
  .box-inner {
    @include reset-content-margins('top');
  }

  @media (max-width: $breakpoint-tablet-horizontal - 1) {
    margin: $component-spacing-tablet 0;
  }

  @media (min-width: $breakpoint-tablet-horizontal) {
    .box {
      align-items: center;
      display: flex;
      margin: 0 $spacing-small * -1;

      &-inner {
        @include reset-content-margins('both');
        padding-left: $spacing-small/2;
        padding-right: $spacing-small;
        width: 50%;
      }

      &--imageRight {
        flex-direction: row;
      }

      &--imageLeft {
        flex-direction: row-reverse;
      }
    }

    .figure-caption {
      position: absolute;
    }
  }
}
