[is='flynt-block-image-text'] {
  height: auto;
  
  .box-inner {
    @include reset-content-margins('top');
    height: 100%;
  }

  @media (min-width: $breakpoint-tablet-horizontal) {
    .box {
      align-items: flex-start;
      display: flex;
      margin: 0;

      &-inner {
        @include reset-content-margins('both');
        width: 50%;
      }

      &--image {
        &Right {
          flex-direction: row;
          padding-left: $spacing-small/2;
        }
  
        &Left {
          flex-direction: row-reverse;
          padding-right: $spacing-small/2;
        }
      }
    }

    .figure-caption {
      position: absolute;
    }
  }

  img {
    height: 100%;
    height: 70vh;
    object-fit: cover;
  }
}
